# Gitignore for Raku (https://raku.org)
# As part of https://github.com/github/gitignore

# precompiled files
.precomp
lib/.precomp


# Vim Swap
[._]*.s[a-v][a-z]
!*.svg
[._]*.sw[a-p]


resources
Makefile
*.so
*.o
*_.c

gambithelper.c
gambithelper_wrapper.c

